# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.svd
*.userprefs
*.csproj
*.pidb
*.sln
*.suo
*.user
*.unityproj
*.booproj
